HTML, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.crm_voronka_title{
font-size:18px;
font-weight:bold;
text-align: center;
}

.crm_voronka_etap{
width:250px;
border: 1px solid #CFCFCF;
padding: 10px;
vertical-align:top;
margin: 20 15px 15px 0;
display: inline-block;
white-space: normal;
}

.crm_kartochka_sdelki{
width:230px;
border: 1px solid #909090;
background-color:white;
font-size:12px;
margin-top:10px;
white-space: normal;
padding: 5px;
}

.container {
   margin: 15px 15px 15px 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

.empty_stage{
  min-height:  100px;
  min-width: 230px;
}

.end_deal{
    position:fixed;
    bottom: 10px;
    right: 30px;
    width: 600px;
    height:80px;
    display:block;
    background-color: white;

}

.end_deal_button{
  position:relative;
  margin: 20 15px 15px 0;
  width: 280px;
  height:80px;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border: 1px dashed #A0A0A0;
  font-weight:bold;
}

.end_deal_reasons{
    display:none;
    position: absolute;
    left: 25%;
    top: 35%;
    width:50%;
    height:30%;
    z-index: 100;
    text-align: center;
    background-color: white;
    vertical-align: middle;
    border: 1px dashed #A0A0A0;

}

.container_end_deal{
    text-align: center;
    vertical-align: middle;
}

.end_deal_reason{
  position:relative;
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  display:inline-block;
  border: 1px dashed #A0A0A0;
  vertical-align: middle;
  cursor: pointer;
}




.shade{
  display:none;
  position: fixed;
  top:0px;
  left:0px;
  background-color: black;
  opacity:0.5;
  z-index:99;
  width: 100%;
  height:100%;
}

.block_gif{
  cursor:pointer;
  vertical-align:middle;
}


.crm_link{
 font-size: 17px;
 padding: 15px;
 color: #000080;
 cursor:pointer;
 text-decoration: underline;

}


.settings_div_class{
    display:none;
    position: absolute;
    left: 25%;
    top: 35%;
    width:50%;
    z-index: 100;
    background-color: white;
    vertical-align: middle;
    border: 1px dashed #A0A0A0;
    padding: 10px;
 }

.user_settings_tbl_class {

    display:none;

}

.user_settings_td_class {

  line-height: 30px;
  border: 1px dashed #A0A0A0;
  padding: 5px;
}

.common_email_settings_div_class{
   display:none;
   line-height: 30px;
   border: 1px dashed #A0A0A0;
   padding: 5px;
}
.empty_new_common_email{
    line-height:30px;
    border: 2px dashed #A0A0A0;
    padding: 5px;
}




.crm_set_list{
  position:relative;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  display:inline-block;
  border: 1px dashed #A0A0A0;
  vertical-align: middle;
  cursor: pointer;
}

.new_set_class{
  width:150px;
  height:30px;
  vertical-align: middle;
}

.new_but_class{
  width:30px;
  height:30px;
  vertical-align: middle;
}


.crm_select{
  height:30px;
}

.crm_form_text{
  height:30px;
}




#appeals_auto{
  width:150px;
  height:30px;
  vertical-align: middle;
}


.crm_error{
  color:red;
  font-weight: bold;
  border: 1px dashed red;
  margin: 0px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  font-size:12px;
}

