
  body{
    font-family: tahoma;
    font-size:12px;
  }

.sm_date{
    font-family: tahoma;
    font-size:8px;
}

 .table_title{
    font-family: tahoma;
    font-weight:bold;
    font-size:12px;
    text-align: center;
     background-color: #eee;
  }
  .name{
    font-family: tahoma;
    font-weight:bold;
    font-size:11px;
  }
  .hours{
    font-family: tahoma;
    font-weight:bold;
    font-size:10px;
    text-align: center;
  }
  .hour_inp{
 width: 23px;
 text-align: center;
  }
   .general_inp{
 width: 60px;
 text-align: center;
  }
  .pay_inp{
 width: 50px;
 text-align: center;
  }
  .sublink{
	font-size:15px;
	color:#0000FF;
	border-bottom: 1px dashed;
    cursor:pointer;
  }
  .table_itog{
font-size:15px;
font-weight:bold;
text-align: center;
  }


  .pass_form
  {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    width: 300px;
    position: absolute;
    margin: auto;
    font-size:15px;
  }
  .pass_inp
  {
  width: 70px;
  height: 30px;
  font-size:15px;
  }

table {
  overflow: hidden;
   border-collapse: collapse; width: 100%;
}

tr:hover {
  background-color: #ffa;
}

td, th {
  position: relative;
  border: 1px solid #ccc; padding: 5px;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}