#customersCallsPage {
	width: 1100px;
    margin: 20px auto;
	font-size: 12px;
}

#filters {
	width: 1100px;
	margin: 0 auto;
}

.filter input, .filter select {
    box-sizing: border-box;
}

.filter {
    width: 140px;
    float: left;
    margin: 0 10px 10px 0;
}

/*фильтр периода*/
.filterType_period { width: 280px; }
.filterType_period .filter_input {
	font-size: 13px;
	border: 1px solid #dfdbdb;
    background-color: #fcfcfd;
    border-radius: 3px;
    padding: 2px 8px;
	color: #757575;
	width: 100%;
	box-sizing: border-box;
}
.filterType_period.active .filter_input {
	color: #090;
	border-color: #090;
}
.filterType_period .periodRange {
	display: inline-block;
    width: 80px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    cursor: pointer;
	color: #757575;
    position: relative;
}
.filterType_period .periodRange.active {
	color: #090;
}
.filterType_period .periodRange:hover {
	background-color: #f3f3f3;
}
.filterType_period .periodRange input[type=text] {
	background: transparent;
    border: none;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px 0 0;
    text-align: center;
    font-size: 13px;
    color: #757575;
	cursor: pointer;
}
.filterType_period .periodRange.active input[type=text] {
	color: #090;
}
.filterType_period .periodRange_arrow {
	font-size: 10px;
    position: absolute;
    right: 5px;
    top: 7px;
}

/*фильтры селекты*/
.filterType_select {
	position: relative;
}
.filterType_select .filter__button {
	font-size: 13px;
	border: 1px solid #dfdbdb;
    background-color: #fcfcfd;
    border-radius: 3px;
    padding: 7px 8px;
	color: #757575;
	display: inline-block;
	width: 100%;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
}
.filterType_select.active .filter__button {
	color: #090;
	border-color: #090;
}
.filterType_select .filter__button_arrow {
	position: absolute;
	cursor: pointer;
	right: 8px;
    top: 7px;
}
.filterType_select.active .filter__button_arrow {
	display: none;
}
.filterType_select .filter__button_reset {
	position: absolute;
	cursor: pointer;
	right: 5px;
    top: 5px;
	display: none;
	color: #d97373;
	height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
}
.filterType_select.active .filter__button_reset {
	display: block;
}
.filterType_select .filter__button_reset:hover {
	background-color: #f0f0f0;
	color: #d97373;
}

.filterType_select .filter__options {
	display: none;
	z-index: 92;
    margin-top: 3px;
    position: absolute;
    box-shadow: 0px 1px 2px #aaa;
    border: 1px solid #dfdbdb;
    background-color: #fcfcfd;
    border-radius: 3px;
    padding: 0;
    color: #757575;
    font-size: 13px;
	overflow-x: hidden;
	max-height: 220px;
	overflow-y: auto;
}
.filterType_select.opened .filter__options {
	display: block;
}
.filterType_select .filter__option {
	white-space: nowrap;
	/* display: none; */
	min-width: 118px;
    padding: 10px;
	margin: 0;
	position: relative;
	cursor: pointer;
}
.filterType_select .filter__option:hover {
	background-color: #f3f3f3;
}
.filterType_select .filter__option.active {
	color: #090;
    background-color: #f0f0f0;
    font-weight: 700;
}

#resetFiltersButton {
	float: right;
    border: 1px solid #dfdbdb;
    background-color: #fcfcfd;
    border-radius: 3px;
    padding: 6px 8px;
    color: #757575;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    margin: 2px 0;
}


/* аякс и все что с ним связано */
#listBox {
	position: relative;
}

#listBox > .loader {
	width: 150px;
    margin: 20px auto;
    position: relative;
    text-align: center;
}

.loader-bar {
	display: inline-block;
    width: 4px;
    height: 20px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
    background-color: #090;
    margin: 20px 2px 0;
}

.loader-bar:nth-child(1) { animation-delay: 0; }
.loader-bar:nth-child(2) { animation-delay: .15s; } 
.loader-bar:nth-child(3) { animation-delay: .30s; }
.loader-bar:nth-child(4) { animation-delay: .45s; }
.loader-bar:nth-child(5) { animation-delay: .60s; }

@keyframes loading {
	0% { transform: scale(1); }
	20% { transform: scale(1, 2.5); }
	40% { transform: scale(1); }
}

#countingBox {
	float: left;
    border-radius: 3px;
    padding: 7px 0;
    color: #757575;
    margin: 2px 0;
}

#countingBox span {font-weight: 700;}


/** Таблица-Список клиентов **/
#callsList {
	border-collapse: collapse;
}

#callsList thead td {
	font-weight: 700;
	padding: 5px;
	text-align: center;
	font-size: 14px;
	border-bottom: 2px solid #eee;
}

#callsList tbody td {
	padding: 5px;
	font-size: 12px;
	border-bottom: 1px solid #eee;
}

#callsList tbody tr:hover td,
#callsList tbody tr.pointed td {
	background-color: #bdcdff;
}

#callsList .col-manager {width: 100px;}
#callsList .col-date {width: 140px;}
#callsList .col-customer {width: 340px;}
#callsList .col-result {width: 150px;}

/** Пагинация **/
.topPagination { margin: 0 0 10px; }
.topPagination .paginationLinks {
	float: right;
	margin: 0 20px 0 0;
	padding: 2px 0;
}
.bottomPagination .paginationLinks {
	width: 1100px;
    margin: 30px auto;
    text-align: center;
}

.paginationLinks > a:link, .paginationLinks > a:visited {
	display: inline-block;
    border: 1px solid #dfdbdb;
    text-decoration: none;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
	border-radius: 3px;
	color: #757575;
}
.paginationLinks > a:hover, .paginationLinks > a:active {
	border: 1px solid #090;
	color: #090;
}

.paginationLinks > span.separator {
	display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
}

.paginationLinks > span.current {
	display: inline-block;
	border: 1px solid #090;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
	border-radius: 3px;
	color: #090;
}